/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-02-2018, 22:39:59
    Author     : Khlant
*/

/* UL padding override - see https://github.com/Dogfalo/materialize/issues/2786#issuecomment-234809753  */
ul { padding-left: 20px; }
.btn { font-size: .8em; }
/* not sure why this is needed... */
.material-icons { vertical-align: bottom; }

.Bad{
    color: red;
}
.Good{
    color: green;
}
.Regular{
    color: yellow;
}
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}